@charset "UTF-8";

/* to be used in overview tables, as in employees.xhtml, customers.xhtml, orders.xhtml */

.datatable thead tr {
	background-color: var(--main-color-light);
	filter: brightness(0.96);
}

.datatable tbody > tr:nth-child(odd) {
	background-color: var(--main-color-light);
}

.datatable tbody > tr:nth-child(even) { 
	background-color: var(--main-color-light);
	filter: brightness(0.96);
}

.datatable tbody > tr:hover:nth-child(odd) {
	filter: brightness(1.05);
}
			
.datatable tbody > tr:hover:nth-child(even) {
	filter: brightness(1.05);
}

.datatable input[type=button], input[type=submit] {
	width: 10rem;
}